/* 
    Author     : MARCO
*/
@font-face {
    font-family: 'Roboto-Regular';
    src: url("#{resource['fonts:Roboto-Regular.ttf']}") format('truetype');    
}

@font-face {    
    font-family: 'Roboto-Thin';
    src: url("#{resource['fonts:Roboto-Thin.ttf']}") format('truetype');
}

body {
    font-family: 'Roboto-Regular' !important;
}

/* <<<<<--  Header Izquierdo* -->>>>>*/
.encabezado {
    background-color: #0844a4 !important;
    text-align: center;
    height: 107px;
    border-color: black;
}

.encabezado .titulo {
    font-weight: bolder;
    font-size: 24px;
    color: white !important;
}

.dropdown-toggle, .dropdown-toggle:focus, .dropdown-toggle:hover {
    font-size: 16px;
    color: white;
}

/* <<<<<--  Header Derecho -->>>>>*/
.encabezado2 {
    background-color: #033076 !important;
    /* text-align: center;*/
    height: 107px;
    border-color: black;
}

.encabezado2 img {
    height: 72px; 
    width: 53px;
}

.encabezado2 .titulo {
    font-weight: bold;
    font-size: 24px;
    color: white !important;
}

/* <<<<<--  Menu -->>>>>*/

.menutitulo {
    font-size: 16px;
    color: #aaaaaa;
    font-family: Roboto-Thin !important;
}

.panel-group .panel {
    background-color: #aaaaaa;
    color: white;
    border-style: none;
    border-radius: 0em;
}

.panel-group .panel-heading {
    background-color: #444444 !important;
    color:white !important;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    text-align: center;
}

.panel .panel-body {
    border-top-style: none !important;
    padding: 0px;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: #7a7a7a !important;
    border: 1px solid #0844a4;
}